/* .navbar {
    background-color: ;
} */

.navbar {
    overflow: hidden;
    position: relative;
}

.bg-archives {
    opacity: 0.5;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

nav {
    position: relative;
}