.search-box {
    width: 600px;
    height: 45px;
    font-size: 18px;
    font-family: "Century Gothic";
}

.search-button {
    height: 40px;
    font-size: 17px;
    font-family: "Century Gothic";
}

.container {
    width: fit-content;
    margin: auto;
}

.item {
    width: 200px;
    height: auto;
    font-family: 'Century Gothic';
}
